$colors: (
    primary: #006699,
    secondary: #e6e6e6,
    success: #23903a,
    danger: #c32232,
    warning: #e6ac00,
    info: #33cee6,
    dark: #394046,
    light: #f1f2f4,
);

$font-size-text: 1.2rem;

// BUTTONS
$font-size-button: 1.0rem;
$font-size-button-lg: 1.2rem;
$font-size-button-sm: 0.8rem;
$padding-button: .375rem .75rem;
$line-height-button: 1.5;
