@import '../variables.scss';
@import '../mixins.scss';
nav.navbar {
    background: map-get($colors, secondary);
    &.nav-bg-primary {
        padding: .375rem .450rem;
        color: map-get($colors, light);
        background-color: map-get($colors, primary);
    }
}